*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-warning{
    color: #FD6E0A;
}
.btn-warning{
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: none;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    /* line-height: 27px; */
}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* header and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 51px 200px;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* Main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About section styles */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-description{
    padding: 30px 0;
    font-size: 18px;
    color: #757575;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    color: #474747;
    font-weight: 700;
}
/* what i do styles */
.what-i-do{
    max-width: 1000px;
    margin: 150px 0;
    text-align: center;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}
.what-desc{
    margin: 30px 0 50px;
}
/* skills */
.skills-container{
    text-align: left;
    display: flex;
    gap: 24px;
    /* justify-content: space-around; */
}
.skill{
    margin: 0 20px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin: 30px 0 20px; 
}
.skill-description{
    color: #757575;
}
/* Resume styles */
.resume-title{
    margin-bottom: 110px;
}
.resume-content{
    display: flex;
    gap: 24px;
    /* justify-content: space-around; */
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}
.resume .sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin: 10px 0 20px;
}
.resume .description{
    color: #757575;
}
hr{
    margin: 30px 0;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}
svg{
    margin-right: 4px;
}
/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    padding: 130px 200px;
    background-color: #FFF8F3;
}
.contact .section-title{
    text-align: left;
}
.contact input[type='text'],input[type='email'],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.connect-description{
    margin: 20px 0 30px;
}
.contact a{
    text-decoration: none;
}